body {
  min-height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;

  display: flex;
  justify-content: space-evenly;
  gap: 60px;
}
.categories-holder {
  align-self: flex-start;
}

.categories-list {
  list-style: none;
  padding: 0;
}
.categories-link {
  text-decoration: none;
}
.product-list {
  padding: 0;
  list-style: none;
}

.product-name {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 400;
}

.product-price {
  color: greenyellow;
  float: right;
}

.product-link {
  display: block;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: aliceblue;
  border-radius: 16px;
  width: 40%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.modal-close {
  align-self: flex-end;
  cursor: pointer;
}
