ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  text-align: center;
}

input[type="text"],
button {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #4ecca3;
  color: #000;
  cursor: pointer;
}

button:hover {
  background-color: #3ca884;
}

.todo-list {
  margin-bottom: 20px;
}

.todo {
  color: #4ecca3;
  font-size: 18px;
}

.todo-interractions {
  text-align: center;
}

.empty-list {
  text-align: center;
  margin-bottom: 10px;
}
